{% extends "templates/page.html" %}
{% block announcement %}
<div class="container announcement">
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
$.get("/services/announcement/", function(data) {
    var announcement = data["announcement"];
    if(announcement) {
        $(".announcement").html(`<div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Announcement</h3>
            </div>
            <div class="panel-body text-center announcement">
                ${announcement}
            </div>
        </div>`);
    }
});
</script>
{% endblock %}
